.card {
  width: 250px;
}
.sw {
  margin: 40px 0;
}
.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 0;
}
.swTitle {
  font-family: var(--second-family);
  color: #242423;
  font-size: 42px;
  font-weight: 400;
    margin-bottom: 40px;
    margin-left: 40px;
  span {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 42px;
    color: #c05124;
  }
}

@media (max-width:834px) {
.swTitle {
    font-size: 36px;
    margin-left: 30px;
    span {
    font-size: 36px;
    }
}
.container {
    padding: 30px 0;
}
}

@media (max-width:375px) {
    .swTitle {
        font-size: 25px;
        margin-left: 15px;
        span {
        font-size: 30px;
        font-size: 25px;

        }
    }
    .container {
        padding: 15px 0;
    }
}