.hero {
  margin: 30px 0 40px;
  background: #c05124;
  padding: 20px;
  border-radius: 20px;

  .heroInner {
    padding: 20px;
    border-radius: 17px;
    background-color: #fff;
  }

  .heroTitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3em;
    color: #242423;

    &:last-child {
      text-align: right;
    }

    & span {
      font-style: italic;
      color: #c05124;
    }
  }

  .imgWrapper {
    width: 100%;
    max-width: 1160px;
    overflow: hidden;
    border-radius: 13px;
    margin: 20px 0;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    aspect-ratio: 3 / 1;
    }
  }
}

@media (width < 2000px) {
  .hero {
    .heroTitle {
      font-size: calc(30px + 15 * (100vw / 1270));

    }
  }
}
@media (width < 578px) {
  .hero {
    .imgWrapper img {
      aspect-ratio: 2 / 1;
      
    }
  }
}
@media (width < 400px) {
  .hero {
    padding: 10px;
    .heroInner {
      padding: 10px;
    }
    .imgWrapper img {
      height: 200px;
    }
  }
}