.advantages {
  margin-bottom: 40px;

  .advantagesWrapper {
    padding: 40px;
    border-radius: 20px;
    background-color: #fffffc;
  }

  .advantagesTitle {
    margin-bottom: 40px;
  }

  .advantagesList {
    margin-bottom: 40px;
  }

  .advantagesItem {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #c05124;
    }
  }

  .advantagesText {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3em;
    color: #242423;
    text-transform: lowercase;
  }

  .blocksWrapper {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .block {
    border: 1px solid #242423;
    border-radius: 15px;
    padding: 20px;

    &:last-child {
      background-color: #fdda70;
      display: flex;
      align-items: center;
      justify-content: center;
      border: transparent;
      transition: 0.2s ease-in-out;
      height: 100%;
      padding: 5px;
      &:hover {
        background-color: #ffc519;
      }
    }
  }

  .blockTitle {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3em;
    color: #242423;
    margin-bottom: 8px;
  }

  .blockText {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3em;
    color: #242423;
  }

  .blockLink {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.3em;
    text-align: center;
    color: #242423;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

@media (max-width: 1020px) {
  .advantages {
    .blocksWrapper {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}
@media (max-width: 834px) {
  .advantages {
    .blocksWrapper {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .advantagesWrapper {
      padding: 30px;
    }

    .advantagesTitle {
      font-size: 36px;
    }
    .advantagesText {
      font-size: 22px;
    }
    .blockTitle {
      font-size: 22px;
    }
    .blockText {
      font-size: 18px;
    }
    .blockLink {
      font-size: 26px;
    }
  }
}
@media (max-width:600px) {
.advantages {
  .blockLink {
    padding: 10px;  
  }
}
}
@media (max-width: 375px) {
  .advantages {
    .advantagesWrapper {
      padding: 15px;
    }

    .blocksWrapper {
      grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    }
    .advantagesTitle {
      font-size: 18px;
    }
    .advantagesText {
      font-size: 14px;
    }
    .blockTitle {
      font-size: 16px;
    }
    .blockText {
      font-size: 14px;
    }
    .blockLink {
      font-size: 16px;
    }
    .advantagesItem {
      &::before {
        
        top: 5px;
        left: 10px;
        width: 15px;
        height: 15px;
       
      }
    }
  }
}
