.author {
  margin-bottom: 40px;

  .wrapper {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }

  .content {
    padding: 20px;
    border-radius: 17px;
    background-color: #fdda70;
  }

  .title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: #242423;
  }

  .list {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .text {
    font-weight: 400;
    font-size: 24px;
    color: #242423;
    text-transform: lowercase;
  }
  .item {
    position: relative;
    padding-left: 40px;

    :before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 5px;
      left: 0;
      background-color: #c05124;
    }
  }

  .imgWrapper {
    width: 100%;
    max-width: 430px;
    overflow: hidden;
    border-radius: 17px;
    height: 422px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 991px) {
  .author {
    .wrapper {
      flex-wrap: wrap;
    }
    .imgWrapper {
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 834px) {
  .author {
    .title {
      font-size: 30px;
    }
    .text {
      font-size: 22px;
    }
  }
}
@media (max-width: 768px) {
  .author {
    .title {
      font-size: 28px;
    }
    .text {
      font-size: 20px;
    }
  }
}

@media (max-width: 375px) {
  .author {
    .wrapper {
      padding: 15px;
    }
    .content {
      padding: 15px;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
    }
    .text {
      font-size: 14px;
    }
    .item {
      padding-left: 24px;
      :before {
        top: 2px;
        left:-2px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
