
.video {
  margin-bottom: 40px;
  padding: 0 15px;
  .container {
    border-radius: 20px;
    background: #fffffc;
    padding: 40px;
    max-width: 1240px;
  }
  
  

  .subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 42px;
    color: #242423;
    margin-bottom: 20px;
    & span {
      font-family: var(--second-family);
      font-style: italic;
      color: #c05124;
    }
  }
  .inner {
    border: 1px solid #242423;
    border-radius: 17px;
    padding: 40px 58px;
    margin-bottom: 20px;
    .innerTitle {
      text-align: center;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 36px;
      margin-bottom: 40px;
      span {
        color: #c05124;
      }
    }
    .innerList {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      text-transform: lowercase;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-left: 45px;
      li {
        position: relative;
      }
      li::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #c05124;
      }
    }
  }
}

@media (max-width:834px) {
.video {
  .inner {
    padding: 30px;
    .innerTitle {
      font-size: 30px;
    }
  }
  .subtitle {
    font-size: 36px;
  }
  
  .innerList {
    font-size: 22px;
  }
  .container {
    padding: 30px;
    }
}
}

@media (max-width:460px) {
  .video {
    .container {
      padding: 15px;
      }
    .inner {
      padding: 15px 10px;
      .innerTitle {
        font-size: 26px;
      }
    }
    .subtitle {
      font-size: 30px;
    }
   
    .innerList {
      font-size: 18px;
    }
  }
}