@mixin subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}

.price {
  margin-top: 40px;
  &__container {
    border-radius: 20px;
    padding: 20px;
    background: #fffffc;
  }
  &__card {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 17px;
  }
  &__liberation {
    background: #fdda70;
  }
  &__liberation  &__btn:hover {
    background-color: #000;
  }
  &__subTitle {
    @include subtitle();
    margin-bottom: 15px;
  }
  &__price {
    border-radius: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #242423;
    padding: 7px 52px;
    height: 60px;
    background: #fffffc;
    margin-bottom: 40px;
  }
  &__list {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: lowercase;
    color: #242423;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    li {
      position: relative;
    }
    li::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #242423;
      border-radius: 50%;
      z-index: 20;
      left: -40px;
      top: 7px;
    }
  }
  &__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #242423;
    margin-bottom: 20px;
  }
  &__btn {
    width: 100%;
    max-width: 100%;
    padding: 15px 0;
    background: #242423;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    color: #fffffc;
    border-radius: 17px;
    transition: 0.2s ease-in-out;
  }
  &__reload {
    border: 1px solid #242423; 
  }
  &__reload > &__btn {
    background: #c05124;
  }
  &__reload &__btn:hover {
    background-color: #f86a31;
  }
  &__reload > &__price {
    background: #fdda70;
  }
  &__transformation {
    background: #c05124;
    color: #fffffc;
  }
  &__transformation &__btn:hover {
    background-color: #ffd30e;
  }
   &__transformation > ul{
    color: #fffffc;
  }
  &__transformation > p{
    color: #fffffc;
  }
  &__transformation > &__btn{
    background: #fdda70;
    color: #242423;
  }
}

@media (max-width:834px) {
  .price {
    &__card {
      padding: 30px;
    }
    &__subTitle {
      font-size: 30px;
    }
    &__price {
      font-size: 30px;
    }
    &__list {
      font-size: 22px;
    }
    &__desc {
      font-size: 18px;
    }
    &__btn {
      font-size: 26px;
    }
  }
}
@media (max-width:375px) {
  .price {
    &__card {
      padding: 20px;
    }
    &__subTitle {
      font-size: 26px;
    }
    &__price {
      font-size: 26px;
    }
    &__list {
      font-size: 18px;
    }
    &__desc {
      font-size: 16px;
    }
    &__btn {
      font-size: 22px;
    }
    &__price {
    height: 50px;
       p {
        width: 130px;
       }
    }
    &__list {
      li::before {       
        left: -30px;
      }
    }
  }
}